@font-face
{
    font-family: 'ProximaNova';
    font-weight: 100;
    font-style: normal;

    src: url('./fonts/ProximaNova-Thin.ttf') format('opentype');
}

@font-face
{
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: normal;

    src: url('./fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'ProximaNova';
    font-weight: 400;
    font-style: normal;

    src: url('./fonts/ProximaNova-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: 500;
    font-style: normal;

    src: url('./fonts/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: 700;
    font-style: normal;

    src: url('./fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face
{
    font-family: 'ProximaNova';
    font-weight: 900;
    font-style: normal;

    src: url('./fonts/ProximaNova-Extrabold.ttf') format('truetype');
}
